/Repaso_Programacion2/nbproject/private/
/Repaso_Programacion2/build/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/Repaso_Programacion2_PabloSierra/nbproject/private/
/practicaFicheros1/target/
/pruebaconDOM/target/
/EjercicicosXMLDOM/target/
/PruebaconSAX/target/
/Ejercicios_a_Entregar/UD1/UD1_Tarea_PabloSierra/mavenproject1/target/
/Ejercicios_a_Entregar/UD1/UD1_Tarea_PabloSierra/TareaEvaluable/target/
/ConexionBasesdeDatos/target/
/conexionconBasesDeDatos/nbproject/private/
/conexionconBasesDeDatos/build/
/Repaso/nbproject/private/
/PabloSierraPerez_ExamenUD1/nbproject/private/
/PabloSierraPerez_ExamenUD1/build/
/PabloSierraPerez_UD2_Practica1/nbproject/private/
/PabloSierraPerez_UD2_Practica1/build/
/RepasoUD1/nbproject/private/
/Hibernate/nbproject/private/
/Hibernate/build/
/Hibernate/dist/
/JavaApplication14/nbproject/private/
/HibernateEx/target/
/EjercicioLibreria/target/
/HibernateAUtores/target/
/hibernatemaven/target/
/mavenproject2/target/
BlancoMiguez/
/XMLDBConector/nbproject/private/
/XMLDBConector/build/
/Junio_R/nbproject/private/
/Junio_R/build/
/Junio_R/dist/
